# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
*.envrc
*.agekey
*.pub
*.key
# Ansible
xanmanning.k3s*
hosts.yaml
all.yaml
# Terraform
.terraform
.terraform.tfstate*
*.tfvars
terraform.tfstate*