apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: monitoring-secrets

spec:
  refreshInterval: "1h"
  secretStoreRef:
    kind: ClusterSecretStore
    name: gcp-clusterstore
  target:
    name: alertmanager-secrets
    deletionPolicy: Delete
    creationPolicy: Owner
    template:
      engineVersion: v2
      templateFrom:
        - target: Data
          literal: |
            {{- .alertmanager }}
  dataFrom:
    - extract:
        key: "all_secrets"
