apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: intel-gpu-plugins
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/intel/intel-device-plugins-for-kubernetes.git
    path: deployments/nfd
    targetRevision: v0.26.0
  sources:
    - repoURL: https://github.com/intel/intel-device-plugins-for-kubernetes.git
      path: deployments/nfd
      targetRevision: v0.26.0
    - repoURL: https://github.com/intel/intel-device-plugins-for-kubernetes.git
      path: deployments/nfd/overlays/node-feature-rules
      targetRevision: v0.26.0
    - repoURL: https://github.com/intel/intel-device-plugins-for-kubernetes.git
      path: deployments/gpu_plugin/overlays/monitoring_shared-dev_nfd
      targetRevision: v0.26.0

  destination:
    server: https://kubernetes.default.svc
    namespace: node-feature-discovery

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
