apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: system-upgrade-controller-git
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rancher/system-upgrade-controller.git
    path: manifests/
    targetRevision: v0.13.2

  destination:
    server: https://kubernetes.default.svc
    namespace: system-upgrade
  syncPolicy:
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
