app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/tyler-cash/peep-bot-frontend
            tag: latest@sha256:4cc129d6126ed553e009764ed1ad70ec6f920d1b048296d1d02bb7f04372bb58
          env:
            TZ: Australia/Sydney

  service:
    main:
      type: LoadBalancer
      controller: main
      ports:
        http:
          port: 80

  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      memory: 500Mi

