app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/tyler-cash/peep-bot-frontend
            tag: latest@sha256:7ed517d2e8543a23cea8eb968994f03c369f3247fd750592c0b66332ef1c295f
          env:
            TZ: Australia/Sydney

  service:
    main:
      type: LoadBalancer
      controller: main
      ports:
        http:
          port: 80

  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      memory: 500Mi

