app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/tyler-cash/peep-bot-frontend
            tag: latest@sha256:3cda2d2c6a5fdb393e20e6af7a624845cd315bd28a6fcf0a2a13db902d00ff61
          env:
            TZ: Australia/Sydney

  service:
    main:
      type: LoadBalancer
      controller: main
      ports:
        http:
          port: 80

  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      memory: 500Mi

