ingress-nginx:
  controller:
    allowSnippetAnnotations: true
    config:
      client-max-body-size: 8m
      annotations-risk-level: Critical

    watchIngressWithoutClass: true
    ingressClassByName: true

    service:
      externalTrafficPolicy: Local
      internal:
        enabled: true
        externalTrafficPolicy: "Local"

    updateStrategy:
      rollingUpdate:
        maxUnavailable: 1
      type: RollingUpdate

    replicaCount: 3

    minAvailable: 2

    priorityClassName: system-cluster-critical

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: "kubernetes.io/hostname"
        whenUnsatisfiable: "DoNotSchedule"
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: ingress-nginx
            app.kubernetes.io/instance: ingress-nginx
            app.kubernetes.io/component: controller

    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "10254"

    metrics:
      port: 10254
      portName: metrics
      enabled: true

      serviceMonitor:
        enabled: true
        namespaceSelector:
          any: true
        scrapeInterval: 30s
        honorLabels: true
      prometheusRule:
        enabled: true
        rules:
          # These are just examples rules, please adapt them to your needs
          - alert: NGINXConfigFailed
            expr: count(nginx_ingress_controller_config_last_reload_successful == 0) > 0
            for: 1s
            labels:
              severity: critical
            annotations:
              description: bad ingress config - nginx config test failed
              summary: uninstall the latest ingress changes to allow config reloads to resume
          - alert: NGINXCertificateExpiry
            expr: (avg(nginx_ingress_controller_ssl_expire_time_seconds{host!="_"}) by (host) - time()) < 604800
            for: 1s
            labels:
              severity: critical
            annotations:
              description: ssl certificate(s) will expire in less then a week
              summary: renew expiring certificates to avoid downtime
