---
app-template:
  image:
    repository: ghcr.io/home-operations/bazarr
    tag: 1.5.3
    pullPolicy: IfNotPresent

  service:
    main:
      ports:
        http:
          port: 6767

  ingress:
    main:
      enabled: true
      hosts:
        - host: bazarr.k8s.tylercash.dev
          paths:
            - path: /
              pathType: Prefix
              service:
                port: 6767
      tls:
        - secretName: bazarr-letsencrypt-certificate
          hosts:
            - bazarr.k8s.tylercash.dev

  podSecurityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: "Always"

  persistence:
    config:
      enabled: true
      storageClass: ceph-block
      size: 10Gi
      labels:
        online-snapshot.home.arpa/enabled: "false"
    tv:
      enabled: true
      type: pvc
      existingClaim: jellyfin-tv
    movies:
      enabled: true
      type: pvc
      existingClaim: jellyfin-movies
    backups:
      enabled: true
      type: pvc
      existingClaim: sonarr-backups

  resources:
    requests:
      cpu: 100m
      memory: 256Mi

  initContainers:
    get-clean-subs-script:
      name: get-clean-subs-script
      image: curlimages/curl:8.17.0
      command: ['sh', '-c', "curl -o /config/sub-clean.sh https://gist.githubusercontent.com/Tyler-Cash/f77c2bda3e17a1d098543de216454812/raw/8071fc8d7fb9cb61ea4ffac7118c4a9614e6d764/sub-clean.sh && chmod 755 /config/sub-clean.sh"]
      volumeMounts:
      - name: config
        mountPath: "/config"
